<div class="card text-center">
    <div class="card-header">
        <h2>Services</h2>
      
    </div>
    <div class="card-body text-center">
        <div class="row row-cols-3">
            <div class="col">
              <div class="card card-col" >
                  <img src="../../../../assets/img/prmb.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Permis B</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card card-col" >
                  <img src="../../../../assets/img/ConduiteA.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Conduite Accompagnee/superviee   </p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card card-col" >
                  <img src="../../../../assets/img/Boite.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Formation Boite Autmatique</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card card-col" >
                  <img src="../../../../assets/img/Paccelere.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Permis en accelere</p>
                  </div>
                </div>
            </div>
      
            <div class="col">
              <div class="card card-col">
                  <img src="../../../../assets/img/PermisMoto.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Permis Moto</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card card-col" >
                  <img src="../../../../assets/img/post-permis.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Formation post-permis</p>
                  </div>
                </div>
            </div>
          </div>
    </div>

  </div>

