<div class="container">

    

    
    <div class="card mb-3" style="margin: 1rem;" >
        <div class="row g-0">
          <div class="col-md-4 text-center">
            <img src="../../../../assets/img/images2.jpg" class="img-fluid rounded-start" style="height:100% ;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-color-primary">Formation et permis-auto et permis moto</h3>
              
              <p class="card-text">
                <span>Les bureaux sont ouverts:</span>
                <br/>
                <span class="text-color-info" >Le bureau et la salle de code :</span>
                <br/>
              <span> Lundi, mardi, mercredi et vendredi 10h à 13h et 14h à 19h</span> 
              <br/> 
              <span> Jeudi 14h à 19h</span>
              <br/>
              <span> samedi 10h à 14h</span>
               </p>

             <p>
                <span class="text-color-info">  Les heures de conduites se font :</span>
                <br/>
                <span> du lundi au vendredi : 7h à 20h</span>
                <br/>
                <span>le samedi : 7h à 16h</span>
              </p>
              <div>
                <button class="btn btn-outline-primary" (click)="login()">accéder à espace candidat</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="margin: 1rem;" >
        <div class="row g-0">
          <div class="col-md-4 text-center">
            <img src="../../../../assets/img/img.jpg" class="img-fluid rounded-start" style="height:100% ;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-color-primary">Le code de la route</h3>
              
              <p class="card-text">
                Le code de la route est la première épreuve de 
                l'examen du permis de conduire. Permettant de connaître toutes 
                les règles de la conduite, l'épreuve du code est composée de quarante 
                questions portant chacune sur une dizaine de thèmes. L’auto-école à Paris 
                dispense des heures de cours de code pour permettre aux candidats de s’entraîner 
                sur des séries de questions par thèmes dans un premier temps, puis, à l’examen en
                 lui-même par la suite. Les moniteurs accompagnent chaque candidat 
                pour suivre leur apprentissage et vérifier les acquis avant les épreuves.
               </p>

            
            </div>
          </div>
        </div>
      </div>



</div>